<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>SA01定制一像素宽的线</string>
		<key>content</key>
		<string>SA01定制一像素宽的线</string>
		<key>storyboardID</key>
		<string>SA01OnePixLineViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SA02登陆注册输入判断逻辑</string>
		<key>content</key>
		<string>SA02登陆注册输入判断逻辑</string>
		<key>storyboardID</key>
		<string>SA02LoginAndRegisterViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SA03GCD多线程学习</string>
		<key>content</key>
		<string>SA03GCD多线程学习</string>
		<key>storyboardID</key>
		<string>SA03GCDViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>SA04实现炫酷动画</string>
		<key>content</key>
		<string>SA04实现炫酷动画</string>
		<key>storyboardID</key>
		<string>SA04AnimationViewController</string>
	</dict>
</array>
</plist>
