<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>OA11-1UITabbar过场动画</string>
		<key>content</key>
		<string>OA11-1UITabbar过场动画</string>
		<key>storyboardID</key>
		<string>OA11TabbarTransitionViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OA11-2UINavigation过场动画</string>
		<key>content</key>
		<string>OA11-2UINavigation过场动画</string>
		<key>storyboardID</key>
		<string>OA11NavigationTransitionViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OA11-3CALayer层高级动画</string>
		<key>content</key>
		<string>OA11-3CALayer层高级动画</string>
		<key>storyboardID</key>
		<string>OA11LayerAnimationViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OA11-4基于dynamics的物理学动画</string>
		<key>content</key>
		<string>OA11-4基于dynamics的物理学动画</string>
		<key>storyboardID</key>
		<string>OA11DynamicsAnimationViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OA11-5定制了的ViewController过场动画</string>
		<key>content</key>
		<string>OA11-5定制了的ViewController过场动画</string>
		<key>storyboardID</key>
		<string>OA11CustomViewControllerTransitionViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>OA11-6下拉刷新</string>
		<key>content</key>
		<string>OA11-6下拉刷新</string>
		<key>storyboardID</key>
		<string>OA11PullToRefreshViewController</string>
	</dict>
</array>
</plist>
