<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>老鼠，最怕猫的动物</string>
		<key>image</key>
		<string>animal1</string>
		<key>title</key>
		<string>鼠</string>
	</dict>
	<dict>
		<key>content</key>
		<string>牛，最任劳任怨的一种动物</string>
		<key>image</key>
		<string>animal2</string>
		<key>title</key>
		<string>牛</string>
	</dict>
	<dict>
		<key>content</key>
		<string>虎，百兽之王</string>
		<key>image</key>
		<string>animal3</string>
		<key>title</key>
		<string>虎</string>
	</dict>
	<dict>
		<key>content</key>
		<string>兔子，最可爱的动物</string>
		<key>image</key>
		<string>animal4</string>
		<key>title</key>
		<string>兔</string>
	</dict>
	<dict>
		<key>content</key>
		<string>龙，皇权的象征</string>
		<key>image</key>
		<string>animal5</string>
		<key>title</key>
		<string>龙</string>
	</dict>
	<dict>
		<key>content</key>
		<string>蛇，小龙也</string>
		<key>image</key>
		<string>animal6</string>
		<key>title</key>
		<string>蛇</string>
	</dict>
	<dict>
		<key>content</key>
		<string>马，将军之最爱</string>
		<key>image</key>
		<string>animal7</string>
		<key>title</key>
		<string>马</string>
	</dict>
	<dict>
		<key>content</key>
		<string>羊，羊毛都快被你们给薅死了</string>
		<key>image</key>
		<string>animal8</string>
		<key>title</key>
		<string>羊</string>
	</dict>
	<dict>
		<key>content</key>
		<string>猴子的烦恼，你不懂</string>
		<key>image</key>
		<string>animal9</string>
		<key>title</key>
		<string>猴</string>
	</dict>
	<dict>
		<key>content</key>
		<string>母鸡，能下蛋的是母鸡</string>
		<key>image</key>
		<string>animal10</string>
		<key>title</key>
		<string>鸡</string>
	</dict>
	<dict>
		<key>content</key>
		<string>狗，人类最好的朋友</string>
		<key>image</key>
		<string>animal11</string>
		<key>title</key>
		<string>狗</string>
	</dict>
	<dict>
		<key>content</key>
		<string>猪，杀猪菜什么的最好吃了</string>
		<key>image</key>
		<string>animal12</string>
		<key>title</key>
		<string>猪</string>
	</dict>
</array>
</plist>
